@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.scale-appear {
  transform: scale(0) translateZ(0);
}

.scale-appear-active {
  transform: scale(1) translateZ(0);
  transition: all 0.4s ease;
}

.scale-appear-done {
  transform: scale(1) translateZ(0);
}

.scale-enter {
  transform: scale(0) translateZ(0);
}

.scale-enter-active {
  transform: scale(1) translateZ(0);
  transition: all 0.4s ease;
}

.scale-enter-done {
  transform: scale(1) translateZ(0);
}

.scale-exit {
  transform: scale(1) translateZ(0);
}

.scale-exit-active {
  transform: scale(0) translateZ(0);
  transition: all 0.4s ease;
}

.scale-exit-done {
  transform: scale(0) translateZ(0);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 0.4s ease;
}

.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 0.4s ease;
}

.fade-exit-done {
  opacity: 0;
}

